@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */





header{
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;

    
}
nav{
    display: flex;
    align-items: center;
    gap: 45px;
    /* margin-left: 900px; */
    font-family: 'Oswald', sans-serif;
    margin-right: 100px;
}

nav a{
    color:black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: medium;

}
nav a:hover{
    /* color: rgb(9, 22, 139); */
    font-family: 'Oswald', sans-serif;
    transition: .5s linear; 
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;

}
body{
    /* background-image: url("/image/EDALY.png"); */
    font-family: 'Oswald', sans-serif;
}
.moi{
text-align: center;
}
/* copier */
h1{
    color: #0e0d0d;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
    margin-top: 60px;
    text-align: center;
  }
  h1 span{
    transition:  .5s linear;
  }
  
  h1:hover span{
    color: #fff;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform: uppercase;
  }
  .propos{
    text-align: justify;
    margin-top: 30px;
  }
  .arti{
    margin-top: 40px;
    /* text-align:justify; */
    width: 50%;
    gap: 10px;
  }
  h2:hover{
    color: #fff;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
  }
  .container{
    display: flex;
    gap: 80px;
  }
  .gauche{
    width: 50%;
    margin-top: 34px;
  }
  @media (max-width:768px) {
    nav{
        display: none;
    }
  }
  main h2{
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
                 transition:  .5s linear
  }
  .gauche h2{
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
              transition:  .5s linear
  }
  .compet{
    display:block;
  }

  .compet h2{
    margin-top: 30px;
  }
  .logoicone{
    display: flex;
    gap: 30px;
  }
  .compet h3{
    text-align: center;
  }



  
  @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

  .jt {
    position: relative;
    font-size: 20vmin;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-display: swap;
    text-shadow: 0 0 10px white;
  }
  
  .jt__row {
    display: block;
  }
  .jt__row:nth-child(1) {
    clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
  }
  .jt__row:nth-child(2) {
    clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
  }
  .jt__row:nth-child(3) {
    clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
  }
  .jt__row:nth-child(4) {
    clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
  }
  
  .jt__row.jt__row--sibling {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    witdh:800px;
  }
  
  .jt__text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
  }
  .jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
  }
  .jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
  }
  .jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2) ;
  }
  .jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3) ;
  }
  .jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4) ;
  }
  .jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5) ;
  }
  
  @keyframes moveIn {
    50%, 100% { 
      transform: translateY(0em)
    }
    0%   { 
    opacity: 0; 
    filter: blur(10px);
    
    }
    100% { 
    opacity: 1; 
    filter: blur(0px);
    }
  }
  
  
  
  .debug .jt__row:nth-child(even) {
    color: black;
    background: white;
  }
  .debug .jt__row:nth-child(odd) {
    color: white;
    background: black;
  }
  
  * { box-sizing: border-box }

  footer{
    margin-top: 20px;
    background-color: cadetblue;
    border: solid;
    border-bottom-style: double;
  }
  .burger{
    display: none;
  }
  
  @media (max-width:768px) 
   {
    nav{
      display: none;
    }
.container{
  display: block;
}

.burger{
  display: flex;
  width: 50px;
}
.logoicone{
  display: block;
  gap: 30px;
  margin-left: 80px;
}
.compet h3{
  text-align:left;
  
}
.compet{
  margin-left: 10px;
}
main h2{
  margin-left: 30px;
}
h1{
  text-align: left;
}
.resu{
  margin-left: 60px;
}
.arti{
  margin-left: 50px;
}

  }





